body {
    font-family: serif;
    background-color: white
}

.header-logo {
    background-color: rgb(223, 157, 81);
    float: left;
    padding: 20px 650px 20px 40px;
    font-size: 25px;
    color: white;
    border-bottom: 20px;
}

.header-right a {
    background-color: rgb(223, 157, 81);
    list-style: none;
    float: left;
    padding: 25px 40px;
    color: white;
    border-bottom: 20px;
    text-decoration: none;
}

.header-right a:hover {
    background-color: rgb(165, 116, 42);
    transition: 0.2s;
}

.top-wrapper {
    padding: 400px 0 30px 0;
    background-image: url(https://s3.envato.com/files/276644652/DSC_4918%20finish.jpg);
    background-size: cover;
}

.container h1 {
    width: 400px;
    padding: 0 100px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.membership {
    background-color: brown;
    padding: 12px 24px;
    color: white;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.membership:hover {
    background-color: rgb(165, 116, 42);
    transition: 0.2s;
}
.footer {
    background-color: #e67e22;
    color: #fff;
    height: 120px;
    padding: 60px;
    margin: auto;
}
.footer-logo {
    float: left;
    font-size: 25px;
}
.footer-logo p {
    font-size: 12px;
}
.footer-list {
    float: right;
    transition: all 1s;
}
.footer-list li:hover {
    background-color: #fff;
    opacity: 0.3;
}
.footer-list li {
    position: relative;
    list-style: none;
    padding-bottom: 20px;
}
